@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css")

:root {
    --main-color: #22BAA0;
    --color-dark: #34425A;
    --text-grey: #B0B0B0;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 225px;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    background: rgb(55, 68, 75);
    transition: left 300ms;
}

.side-content {
    height: calc(100vh - 60px);
    overflow: auto;
}

/* width */
.side-content::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.side-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.side-content::-webkit-scrollbar-thumb {
  background: #b0b0b0; 
  border-radius: 10px;
}

/* Handle on hover */
.side-content::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.profile {
    text-align: center;
    padding: 2rem 0rem;
}

.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20%;
    background-size: cover;
}

.profile-img {
    height: 80px;
    width: 100px;
    display: inline-block;
    margin: 0 auto .5rem auto;
    border: 3px solid cyan;
}

.profile h4 {
    color: #fff;
    font-weight: 500;
}

.profile small {
    color: yellowgreen;
    font-weight: 600;
}

.sidebar .first{
   border-top: 1px solid #626669;;
}

.sidebar ul li a{
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #626669;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
  border-left: 3px solid transparent;
}

.sidebar .subrep{
   display: none;
   background: rgb(41, 43, 45);
}

.sidebar .subrep a{
  padding-left: 50px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active{
  color: cyan;
  background:rgba(41, 43, 45, 0.5);
  border-right: 2px solid rgb(5, 68, 104);
  border-left-color: cyan;
}

.sidebar ul li a:hover .icon,
.sidebar ul li a.active .icon{
  color: cyan;
}

.sidebar ul li a:hover:before,
.sidebar ul li a.active:before{
  display: block;
}

.main-content {
    margin-left: 225px;
    width: calc(100% - 225px);
    transition: all 0.5s ease;
}

.main-content .top_navbar .hamburger span{
    font-size: 28px;
    color: #f4fbff;
}

.main-content .top_navbar .hamburger span:hover{
    color: cyan;
}

.main-content .top_navbar .tabs-ham span{
    font-size: 28px;
    color: #f4fbff;
}

.main-content .top_navbar .tabs-ham span:hover{
    color: cyan;
}

.main-content .top_navbar .mini-ham span{
    font-size: 28px;
    color: #f4fbff;
}

.main-content .top_navbar .mini-ham span:hover{
    color: cyan;
}

.main-content .top_navbar{
    background-color: rgb(41, 43, 45);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.main-content .top_navbar ul{
    display: none;
    position: relative;
}

.main-content .top_navbar ul li{
    display: inline-block; 
}

.main-content .top_navbar ul li:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.main-content .top_navbar ul li a{
    color: #ccc;
    display: block;
    padding: 14px;
}

.main-content .top_navbar ul ul{
    padding:0;
    margin:0;
    top: 50px;
    visibility: hidden;
    position: absolute;
    overflow-y: hidden;
    max-height: 0px;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 12px 50px rgba(0, 0, 0, 0.45);
}

.main-content .top_navbar ul li:hover ul{
    visibility:visible;
    max-height: 300px;
}

.main-content .top_navbar ul li a:hover{
    color: cyan;
}

.main-content .top_navbar ul ul li{
    display: block;
}

.main-content .top_navbar ul ul li a{
    background-color: #222;
}

.main-content .top_navbar ul ul li a:hover{
    background-color: #333;
    color: cyan;
}

main {
    margin-top: 15px;
}

.page-content {
    padding: 1.3rem 1rem;
    background: #f1f4f9;
}

.analytics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.card {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
    background: #fff;
    padding: 1rem;
    border-radius: 3px;
    border: #B0B0B0 1px solid;
}

.card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-head h2 {
    color: #333;
    font-size: 1.8rem;
    font-weight: 500;
}

.card-head span {
    font-size: 3.2rem;
    color: var(--text-grey);
}

.card-progress small {
    color: #777;
    font-size: .8rem;
    font-weight: 600;
}

.card-indicator {
    margin: .7rem 0rem;
    height: 10px;
    border-radius: 4px;
    background: #e9edf2;
    overflow: hidden;
}

.indicator {
    height: 10px;
    border-radius: 4px;
}

.indicator.one {
    background: #22baa0;
}

.indicator.two {
    background: #11a8c3;
}

.indicator.three {
    background: #f6d433;
}

.indicator.four {
    background: #f25656;
}

.records {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
    background: #fff;
    border-radius: 3px;
    border: #B0B0B0 1px solid;
}

.table-responsive {
    width: 100%;
    overflow: auto;
}

table {
    border-collapse: collapse;
}

table thead tr {
    background: #e9edf2;
}

table thead th {
    padding: 1rem 0rem;
    text-align: left;
    color: #444;
    font-size: .9rem;
}

table thead th:first-child {
    padding-left: 1rem;
}

table tbody td {
    padding: 1rem 0rem;
    color: #444;
}

table tbody td:first-child {
    padding-left: 1rem;
}

table tbody tr {
    border-bottom: 1px solid #dee2e8;
}

/* ---------------------------------------------- start JavaScript*/
body.active .sidebar{
  left: -225px;
}

body.active .main-content{
  margin-left: 0;
  width: 100%;
}

body.active .main-content .top_navbar ul{
   display: block;
}

body.active .main-content .top_navbar .hamburger span:before{
   content: '\2630';
}

body.active .main-content .top_navbar .mini-ham span:before{
    content: '';
}

/* ---------------------------------------------- end JavaScript*/


/* ---------------------------------------------- start Responsive Screen*/
/*layar monitor atau laptop*/
@media only screen and (max-width: 1200px) {
    .analytics {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*layar tablet*/
@media only screen and (max-width: 768px) {
    .analytics {
        grid-template-columns: 100%;
    }
    .sidebar {
        left: -225px;
        z-index: 90;
    }
    .top_navbar {
        left: 0;
        width: 100%;
    }
    .main-content {
        margin-left: 0;
        width: 100%;
    }
    .main-content .top_navbar ul{
        display: block;
    }
    .main-content .top_navbar .hamburger span:before{
        content: '';
    }
    .main-content .top_navbar .tabs-ham{
        position: absolute;
        left: 30px;
    }
    .main-content .top_navbar .tabs-ham span:before{
        content: '\2630';
    }
    body.aktip .sidebar{
        left: 0;
    }
    body.aktip .main-content .top_navbar ul{
        display: none;
    }
    body.aktip .main-content .top_navbar .tabs-ham{
        position: absolute;
        left: 240px;
    }
    body.aktip .main-content .top_navbar .tabs-ham span:before{
        content: '\f060';
        font-family: "Font Awesome 5 Free";
        font-style: normal;
        font-weight: 900;
    }
    body.active .main-content .top_navbar .hamburger span:before{
        content: '';
    }
    body.aktif .main-content .top_navbar .mini-ham span:before{
        content: '';
    }
    table {
        width: 900px;
    }
}

/*layar handphone*/
@media(max-width: 600px){
    .main-content .top_navbar ul{
        visibility: hidden;
    }
    .sidebar{
        left: -225px;
    }
    .main-content .top_navbar .mini-ham span:before{
        content: '\2B9C';
    }
    .main-content .top_navbar .mini-ham span:before{
        content: '\2630';
    }
    .main-content .top_navbar .hamburger span:before{
        content: '';
    }
    .main-content .top_navbar .tabs-ham span:before{
        content: '';
    }
    body.aktip .sidebar{
        left: -225px;
    }
    body.aktip .main-content .top_navbar .tabs-ham span:before{
        content: '';
    }
    body.active .main-content .top_navbar .mini-ham span:before{
        content: '\2630';
    }
    body.active .main-content .top_navbar .mini-ham span{
        display: block;
    }
    body.aktip .main-content .top_navbar .mini-ham span{
        display: block;
    }
    body.aktip .main-content .top_navbar .mini-ham{
        position: absolute;
        left: 30px;
    }
    body.aktif .sidebar{
        left: 0;
    }
    body.aktif .main-content .top_navbar .mini-ham{
        position: absolute;
        left: 240px;
    }
    body.aktif .main-content .top_navbar .mini-ham span:before{
        content: '\f060';
        font-family: "Font Awesome 5 Free";
        font-style: normal;
        font-weight: 900;
    }
}
/* ---------------------------------------------- end Responsive Screen*/



/* ---------------------------------------------- start Form Master*/
.container {
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  text-align: center;
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0 12px 0;
}

.container form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.container form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.container .user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  padding: 0 15px;
}

.container .select-box {
  position: relative;
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-bottom-width: 2px;
  padding: 0 15px;
}

.container .select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  font-size: 16px;
}

.container .select-box select option{
    padding: 0 15px;
}

.container .user-details .input-box input:focus,
.container .user-details .input-box input:valid {
  border-color: #9b59b6;
}

.container form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

.container form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  column-gap: 50px;
/*  justify-content: space-between;*/
}

.container form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.container form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
  background: #9b59b6;
  border-color: #d9d9d9;
}

.container form input[type="radio"] {
  display: none;
}

.container form .button {
  height: 45px;
  margin: 35px 0;
}

.container form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: rgb(91, 102, 108);
}

.container form .button input:hover {
  color: cyan;
  background: #333;
}

/* Responsive media query code for mobile devices */
@media(max-width: 600px) {
  .container {
    max-width: 100%;
  }

  .container form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  .container form .category {
    width: 100%;
  }

  .container .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .container .user-details::-webkit-scrollbar {
    width: 5px;
  }
}

/* Responsive media query code for mobile devices */
@media(max-width: 600px) {
  .container .content .category {
    flex-direction: column;
  }
}
/* ---------------------------------------------- end Form Master*/



/* ---------------------------------------------- start Form PO*/
.container-po {
  position: relative;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container-po header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container-po .form {
  margin-top: 30px;
}
.container-po .form .input-box {
  width: 100%;
  margin-top: 20px;
}
.container-po .input-box label {
  color: #333;
  font-weight: 500;
}
.container-po .form :where(.input-box input, .select-box) {
  position: relative;
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  border-bottom-width: 2px;
  padding: 0 15px;
}
.container-po .input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.container-po .form .column {
  display: flex;
  column-gap: 15px;
}
.container-po .form .gender-box {
  margin-top: 20px;
}
.container-po .gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 8px;
}
.container-po .form :where(.container-po .gender-option, .container-po .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.container-po .form .gender {
  column-gap: 5px;
}
.container-po .gender input {
  accent-color: rgb(130, 106, 251);
}
.container-po .form :where(.container-po .gender input, .container-po .gender label) {
  cursor: pointer;
}
.container-po .gender label {
  color: #707070;
}
.container-po .address :where(input, .select-box) {
  margin-top: 15px;
}
.container-po .select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.container-po .form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}
.container-po .form button:hover {
  background: rgb(88, 56, 250);
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .container-po .form .column {
    flex-wrap: wrap;
  }
  .container-po .form :where(.container-po .gender-option, .container-po .gender) {
    row-gap: 15px;
  }
}
/* ---------------------------------------------- end Form PO*/