@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css")

:root {
    --main-color: #22BAA0;
    --color-dark: #34425A;
    --text-grey: #B0B0B0;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 225px;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    background: rgb(55, 68, 75);
    transition: left 300ms;
}

.side-content {
    height: calc(100vh - 60px);
    overflow: auto;
}

/* width */
.side-content::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.side-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.side-content::-webkit-scrollbar-thumb {
  background: #b0b0b0; 
  border-radius: 10px;
}

/* Handle on hover */
.side-content::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.profile {
    text-align: center;
    padding: 2rem 0rem;
}

.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20%;
    background-size: cover;
}

.profile-img {
    height: 80px;
    width: 100px;
    display: inline-block;
    margin: 0 auto .5rem auto;
    border: 3px solid cyan;
}

.profile h4 {
    color: #fff;
    font-weight: 500;
}

.profile small {
    color: yellowgreen;
    font-weight: 600;
}

.sidebar .first{
   border-top: 1px solid #626669;;
}

.sidebar ul li a{
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #626669;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
  border-left: 3px solid transparent;
}

.sidebar .subrep{
   display: none;
   background: rgb(41, 43, 45);
}

.sidebar .subrep a{
  padding-left: 50px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active{
  color: cyan;
  background:rgba(41, 43, 45, 0.5);
  border-right: 2px solid rgb(5, 68, 104);
  border-left-color: cyan;
}

.sidebar ul li a:hover .icon,
.sidebar ul li a.active .icon{
  color: cyan;
}

.sidebar ul li a:hover:before,
.sidebar ul li a.active:before{
  display: block;
}

.main-content {
    margin-left: 225px;
    width: calc(100% - 225px);
    transition: all 0.5s ease;
}

.main-content .top_navbar .hamburger span{
    font-size: 28px;
    color: #f4fbff;
}

.main-content .top_navbar .hamburger span:hover{
    color: cyan;
}

.main-content .top_navbar .tabs-ham span{
    font-size: 28px;
    color: #f4fbff;
}

.main-content .top_navbar .tabs-ham span:hover{
    color: cyan;
}

.main-content .top_navbar .mini-ham span{
    font-size: 28px;
    color: #f4fbff;
}

.main-content .top_navbar .mini-ham span:hover{
    color: cyan;
}

.main-content .top_navbar{
    background-color: rgb(41, 43, 45);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.main-content .top_navbar ul{
    display: none;
    position: relative;
}

.main-content .top_navbar ul li{
    display: inline-block; 
}

.main-content .top_navbar ul li:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.main-content .top_navbar ul li a{
    color: #ccc;
    display: block;
    padding: 14px;
}

.main-content .top_navbar ul ul{
    padding:0;
    margin:0;
    top: 50px;
    visibility: hidden;
    position: absolute;
    overflow-y: hidden;
    max-height: 0px;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 12px 50px rgba(0, 0, 0, 0.45);
}

.main-content .top_navbar ul li:hover ul{
    visibility:visible;
    max-height: 300px;
}

.main-content .top_navbar ul li a:hover{
    color: cyan;
}

.main-content .top_navbar ul ul li{
    display: block;
}

.main-content .top_navbar ul ul li a{
    background-color: #222;
}

.main-content .top_navbar ul ul li a:hover{
    background-color: #333;
    color: cyan;
}

main {
    margin-top: 15px;
}

.page-header {
    padding: 1.3rem 1rem;
    background: #B0B0B0;
    border-bottom: 1px solid #dee2e8;
    margin: 0 10px;
    border-radius: 5px;
}

.page-content {
    padding: 1.3rem 1rem;
    background: #f1f4f9;
}

.analytics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.card {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
    background: #fff;
    padding: 1rem;
    border-radius: 3px;
    border: #B0B0B0 1px solid;
}

.card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-head h2 {
    color: #333;
    font-size: 1.8rem;
    font-weight: 500;
}

.card-head span {
    font-size: 3.2rem;
    color: var(--text-grey);
}

.card-progress small {
    color: #777;
    font-size: .8rem;
    font-weight: 600;
}

.card-indicator {
    margin: .7rem 0rem;
    height: 10px;
    border-radius: 4px;
    background: #e9edf2;
    overflow: hidden;
}

.indicator {
    height: 10px;
    border-radius: 4px;
}

.indicator.one {
    background: #22baa0;
}

.indicator.two {
    background: #11a8c3;
}

.indicator.three {
    background: #f6d433;
}

.indicator.four {
    background: #f25656;
}

.records {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
    background: #fff;
    border-radius: 3px;
    border: #B0B0B0 1px solid;
}

.table-responsive {
    width: 100%;
    overflow: auto;
}

table {
    border-collapse: collapse;
}

table thead tr {
    background: #e9edf2;
}

table thead th {
    padding: 1rem 0rem;
    text-align: left;
    color: #444;
    font-size: .9rem;
}

table thead th:first-child {
    padding-left: 1rem;
}

table tbody td {
    padding: 1rem 0rem;
    color: #444;
}

table tbody td:first-child {
    padding-left: 1rem;
}

table tbody tr {
    border-bottom: 1px solid #dee2e8;
}

/* ---------------------------------------------- start JavaScript*/
body.active .sidebar{
  left: -225px;
}

body.active .main-content{
  margin-left: 0;
  width: 100%;
}

body.active .main-content .top_navbar ul{
   display: block;
}

body.active .main-content .top_navbar .hamburger span:before{
   content: '\2630';
}

body.active .main-content .top_navbar .mini-ham span:before{
    content: '';
}

/*
body.aktip .sidebar{
    left: 0;
}

body.aktif .sidebar{
    left: 0;
    width: 90%;
}

body.aktif .main-content .top_navbar .mini-ham{
    position: absolute;
    right: 15px;
}

body.aktif .main-content .top_navbar .mini-ham span:before{
    content: '\2B9C';
}*/
/* ---------------------------------------------- end JavaScript*/


/* ---------------------------------------------- start Responsive Screen*/
/*layar monitor atau laptop*/
@media only screen and (max-width: 1200px) {
    .analytics {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*layar tablet*/
@media only screen and (max-width: 768px) {
    .analytics {
        grid-template-columns: 100%;
    }
    .sidebar {
        left: -225px;
        z-index: 90;
    }
    .top_navbar {
        left: 0;
        width: 100%;
    }
    .main-content {
        margin-left: 0;
        width: 100%;
    }
    .main-content .top_navbar ul{
        display: block;
    }
    .main-content .top_navbar .hamburger span:before{
        content: '';
    }
    .main-content .top_navbar .tabs-ham{
        position: absolute;
        left: 30px;
    }
    .main-content .top_navbar .tabs-ham span:before{
        content: '\2630';
    }
    body.aktip .sidebar{
        left: 0;
    }
    body.aktip .main-content .top_navbar ul{
        display: none;
    }
    body.aktip .main-content .top_navbar .tabs-ham{
        position: absolute;
        left: 240px;
    }
    body.aktip .main-content .top_navbar .tabs-ham span:before{
        content: '\f060';
        font-family: "Font Awesome 5 Free";
        font-style: normal;
        font-weight: 900;
    }
    body.active .main-content .top_navbar .hamburger span:before{
        content: '';
    }
    body.aktif .main-content .top_navbar .mini-ham span:before{
        content: '';
    }
    table {
        width: 900px;
    }
}

/*layar handphone*/
@media(max-width: 600px){
    .main-content .top_navbar ul{
        visibility: hidden;
    }
    .sidebar{
        left: -225px;
    }
    .main-content .top_navbar .mini-ham span:before{
        content: '\2B9C';
    }
    .main-content .top_navbar .mini-ham span:before{
        content: '\2630';
    }
    .main-content .top_navbar .hamburger span:before{
        content: '';
    }
    .main-content .top_navbar .tabs-ham span:before{
        content: '';
    }
    body.aktip .sidebar{
        left: -225px;
    }
    body.aktip .main-content .top_navbar .tabs-ham span:before{
        content: '';
    }
    body.active .main-content .top_navbar .mini-ham span:before{
        content: '\2630';
    }
    body.active .main-content .top_navbar .mini-ham span{
        display: block;
    }
    body.aktip .main-content .top_navbar .mini-ham span{
        display: block;
    }
    body.aktip .main-content .top_navbar .mini-ham{
        position: absolute;
        left: 30px;
    }
    body.aktif .sidebar{
        left: 0;
    }
    body.aktif .main-content .top_navbar .mini-ham{
        position: absolute;
        left: 240px;
    }
    body.aktif .main-content .top_navbar .mini-ham span:before{
        content: '\f060';
        font-family: "Font Awesome 5 Free";
        font-style: normal;
        font-weight: 900;
    }
}
/* ---------------------------------------------- end Responsive Screen*/
